
@import "tailwindcss";


@theme {
  --font-serif: "Playfair Display", serif;
}


/* Hạt bụi lung linh */
.particles {
  position: fixed;
  inset: 0;
  background-image: radial-gradient(circle, #000 1px, transparent 1px);
  background-size: 80px 80px;
  opacity: 0.02;
  pointer-events: none;
  z-index: 1;
}


/* Khung ảnh Polaroid */
.polaroid-frame {
  box-shadow: 0 12px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
